body {
    margin: 0;
    padding: 0;
}

#bg {
    background-color: rgb(220, 220, 220);
}
.container {
    background-color: white;
    padding-top: 10px;
}

#header {
    position: relative;
    font-size: 24pt;
    padding: 10px;
}
#header .badge {
    position: absolute;
    left: 5px;
}

#nav-btn {
    border: 2px solid white;
}

code, pre {
    margin: 0;
    padding: 0;
}
.code {
    font-family: monospace;
    background-color: rgb(220, 220, 220);
    padding: 8px 0 1px 8px;
    border-left: 5px solid greenyellow;
    margin: 0 8px;
    overflow-x: auto;
}
.code .comment {
    color: green;
}

/* .card-header {
    position: relative;
} */

/* #entry-title {
    
}

#entry-date {
    
} */